{% extends "layout.html" %}

{% block css %}
<style>
    .home{
        display:grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
{% endblock css %}
{% block content %}
<div class="home">
<div >
    <h1>Topics</h1> <h4><a href="{% url "home" %}">All</a></h4>
    {% for topic in topics %}
    <h4><a href="{% url "home" %}?q={{topic.name}}">{{topic.name}}</a></h4>
    {% endfor %}
    
</div>
<div class="container">
<a href="{% url "create-room" %}"><button> Create Room</button></a>

{% if request.user.is_authenticated %}
<a href="{% url "logout" %}">logout</a>

{% else %}
<a href="{% url "login" %}">login</a>
{% endif %}


<hr>
<br>
{% for room in rooms %} 

    
    <span>HOST@{{room.host.username}}</span>
    <br>
    <h1><a href="{% url 'room' room.id %}" style="text-decoration:none;">{{room.name}}</a></h1>
    <small>{{room.topic}}</small>
    <br>
    {% if request.user == room.host %}
    <a href="{% url "update-room" room.id%}"><button>Update Room</button></a>
    <br>
    <a href="{% url "delete-room" room.id%}"><button>Delete Room</button></a>
    {% endif %}
    <hr>
    

{% endfor %}
</div>
</div>
{% endblock content %}